/apsys.dynamic.filters/obj
/apsys.dynamic.filters/bin
/apsys.ndbunit.netcore/bin
/apsys.ndbunit.netcore/obj
/template.core/obj
/template.core/bin
/template.core.testing/obj
/template.core.testing/bin
/template.migrations/obj
/template.migrations/bin
/template.repositories/obj
/template.repositories/bin
/template.repositories.nhibernate/obj
/template.repositories.nhibernate/bin
/template.scenarios/obj
/template.scenarios/bin
/template.services/obj
/template.services/bin
/template.services.testing/obj
/template.services.testing/bin
/template.webapi/obj
/template.webapi/bin
/template.webapi.testing/obj
/template.webapi.testing/bin
/template.webapi.testing.old/obj
/template.webapi.testing.old/bin
/ut.repositories.nhibernate.testing/bin
/ut.repositories.nhibernate.testing/obj
